BOT_TOKEN=7616969823:AAFglRaOaVE0ek0u0QbYXYgI6JY8IUN4M6E
ADMIN_ID=7687084316

KEEP_LAST=2500
# Process a maximum of KEEP_LAST messages per session,
# to avoid ram overload

# 1=true, 0=false, default=1
LOGGING=1

