[Unit]
Description=Backup Script

[Service]
ExecStartPre=/root/markinim/stop_docker_container.sh
ExecStart=/root/markinim/backup_script.sh
ExecStartPost=/root/markinim/start_docker_container.sh
WorkingDirectory=/root/markinim
Restart=always
RestartSec=4h  # Change this to your desired interval

[Install]
WantedBy=default.target
